<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
	<title>我</title>
	<#include "/WEB-INF/view/common/include.html">
	<style>
	
	</style>
</head>
<body>
	<img id="fileImage" alt="" src="" width="80" height="80">
	<button class="mui-btn mui-btn-block mui-btn-primary" onclick="uploadFile()">上传头像</button>
	<button id='logout' class="mui-btn mui-btn-block mui-btn-primary">注销</button>
	<button class="mui-btn mui-btn-block mui-btn-primary" onclick="testConfirm()">测试confire</button>
	<br>
	<a href="/message">message</a>
	${(user.email)!}
	<#include "/WEB-INF/view/common/footer.html">
	<script type="text/javascript">
		
		$(function(){
			$("#logout").click(function(){
				$.ajax({
			         url: '/logout',
			         type: 'get',
			         success: function (data) {
			        	 if(data.code == 200){
							if(H5.util.browser.isWx()){
								location.href="/login";
							} else if(H5.util.browser.h5App()){
								 H5.app.logout();
							} else {
								location.href="/login";
							}
			        	 }
			         },
					error : function(jqXHR, textStatus, errorThrown) {

					}
			      });
			});
			
		});
		
		$(function(){
			//alert(H5.util.getCookie("code"));
		});
		
		
		function uploadFile(){
			imageUploadForm("/upload/uploadImage", "", new Date().getTime(), "callback");
		}
		
		function callback(data){
			$("#fileImage").attr("src","/"+data);			
		}
		
		function testConfirm(){
			if(confirm("你确定要删除吗？")){
				alert("删除提交");
			}
		}
	
	
	</script>
</body>
</html>