<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
	<title>活动</title>
	<#include "/WEB-INF/view/common/include.html">
	<style>
		
		input.form-control.f_input.bgfff {
		    /* padding-left: 0px; */
		    /* padding-right: 0px; */
		}
		.f_input {
		    display: block;
		    border: none;
		    background-color: #fff;
		    height: 50px;
		}
		
		.no-border{
			border:none;
		}
	
	</style>
</head>
<body>

	<script type="text/javascript">
		
		$(function(){
			//alert(H5.util.getCookie("code"));
		});
	
	</script>
</body>
</html>