    <script src="/static/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="/static/js/jquery.plus.js"></script>
    <!-- 
    <script src="/static/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
     -->
    <script src="/static/mui/dist/js/mui.min.js"></script>
    <script src="/static/js/common.js?${.now}"></script>
	<script type="text/javascript">
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?6da5bbcf29c0ac428b552dec4178917c";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>