@charset "utf-8";

body {
	background-color: #eeeeee;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.container {
	padding-right: 0px;
	padding-left: 0px;
}

/* 屏幕选择适配 */
@media ( min-width : 899px) {
	.topcon, #pc_nav {
		max-width: 899px;
	}
	.cdp_xs {
		display: block;
	}
}

@media ( max-width : 899px) and (min-width: 768px) {
	.dp_xs {
		display: block;
	}
}

@media ( min-width : 479px) and (max-width: 767px) {
	.zp_xs {
		display: block;
	}
}

@media ( max-width : 479px) {
	.xp_xs {
		display: block;
	}
}


/* 字体 */
.px11 {
	font-size: 0.687em
}

.px12 {
	font-size: 0.75em
}

.px13 {
	font-size: 0.812em;
}

.px14 {
	font-size: 0.875em;
}

.px16 {
	font-size: 1em;
}

.px17 {
	font-size: 1.062em;
}

.px18 {
	font-size: 1.125em;
}

.px22 {
	font-size: 1.375em;
}

.px24 {
	font-size: 1.5em;
}

.px26 {
	font-size: 1.733em;
}

.px30 {
	font-size: 1.875em;
}

.px32 {
	font-size: 2em;
}

.px34 {
	font-size: 2.125em;
}

.px36 {
	font-size: 2.25em;
}

.px1div {
	height: 1px;
	background-color: #e5e5e5;
}

/** 按钮链接**/
.clickable {
	cursor: pointer;
}

/**清除border**/
.noborder {
	border: none;
}

.onlytopborder {
	border: none;
	border-top: 2px solid #e5e5e5;
}

/*  通用边距*/
.mt0 {
	margin-top: 0px;
}

.mtlr5 {
	margin-left: 5px;
	margin-right: 5px;
}

.mt10 {
	margin-top: 10px;
}

.ml10 {
	margin-left: 10px;
}

.mr12 {
	margin-right: 12px;
}

.mtd21 {
	margin-bottom: 21px;
}

.md30 {
	margin-bottom: 30px;
}

.md20 {
	margin-bottom: 20px;
}

.mt21 {
	margin-top: 21px;
}

.nopd {
	padding: 0px;
}

.nomg {
	margin: 0px;
}

.pdtb10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.ml12 {
	margin-left: 12px;
}

.plr12 {
	padding-left: 12px;
	padding-right: 12px;
}

.pl12 {
	padding-left: 12px;
}

.pt10 {
	padding-top: 10px;
}

.pt7 {
	padding-top: 7px;
}

.pl50 {
	padding-left: 50px;
}

/**宽高**/
.divh100 {
	height: 100px;
}

/**图标**/
.icon10 {
	height: 10px;
}

.icon12 {
	height: 12px;
}

.icon13 {
	height: 13px;
}

.icon14 {
	height: 14px;
}

.icon22 {
	height: 22px;
}

.icon36 {
	height: 36px;
}

.icon48 {
	height: 48px;
}

/*  头像*/
.icon58 {
	height: 58px;
	width: 58px;
}

/**颜色**/
.bgfff {
	background-color: #fff;
}

.bgf6 {
	background-color: #f6f6f6;
}

.fc333 {
	color: #333333;
}

.fc666 {
	color: #666666;
}

.fc999 {
	color: #999999;
}

.list-group {
	margin-bottom: 0px;
}

.list-group-item {
	border: 0px solid #ddd;
	padding: 10px 0px;
}

.list-group-item:first-child {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.list-group-item:last-child {
	margin-left: 12px;
	margin-right: 12px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}


